@import "../app.component.css";

img {
  width: 200px;
}

.d-flex {
  gap: 10px;
  align-items: center;
}
.post-preview {
  min-height: 300px;
}

.body {
  height: 100vh;
  overflow: auto;
}

.d-none {
  display: none;
}
