<div>
  <mat-radio-group
    formControlName="selectedAge"
    (change)="handleAgeLimitChange($event)"
    color="primary"
  >
    <mat-radio-button value="" [checked]="'null' === userCertificationLte"
      >Aucune</mat-radio-button
    >

    <mat-radio-button
      value="TP"
      [checked]="'TP' === userCertificationLte"
      matTooltip="programme télévisé qui est considéré comme adapté à un large public, y compris aux enfants et aux adultes. Il est conçu de manière à ne pas contenir de contenu inapproprié ou choquant pour les jeunes spectateurs. "
      >Tous public</mat-radio-button
    >
    <mat-radio-button
      value="12"
      [checked]="'12' === userCertificationLte"
      matTooltip="Programmes comportant de la violence physique et/ou psychologique de façon répétée ou des scènes relatives à la sexualité des adultes. "
      >- 12 ans</mat-radio-button
    >
    <mat-radio-button
      value="16"
      [checked]="'16' === userCertificationLte"
      matTooltip="Programmes érotiques ou ceux comportant des scènes de grande violence"
      >- 16 ans</mat-radio-button
    >
    <mat-radio-button
      value="18"
      [checked]="'18' === userCertificationLte"
      matTooltip="Programmes d’ordre pornographique ou de très grande violence réservés à un public adulte averti."
      >- 18 ans</mat-radio-button
    >
  </mat-radio-group>
</div>
