<app-header
  [background]="{
    'background-image': 'url(\'/assets/img/settings.jpeg\')'
  }"
></app-header>

<div class="px-4 px-lg-5" class="body container">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <h2 class="mb-2">Préférences de tri</h2>
    <div>
      <article class="mb-4">
        <!-- <div class="category">
          <div class="d-flex gap-1 align-items-center"></div>
          <div class="px-3">
            <app-sort
              [sortBy]="userPreferences.sort_by ? userPreferences.sort_by : ''"
              (sortByChange)="handleSortByChange($event)"
            ></app-sort>
          </div>
        </div> -->
      </article>
      <hr />
      <h2 class="mb-3">Filtres</h2>
      <form [formGroup]="formGroup">
        <div>
          <article class="mb-4">
            <!-- <div class="category">
              <div class="d-flex gap-1 align-items-center">
                <h3 class="mb-2">Services de streaming</h3>
                <div *ngIf="!!watchProviders.length">
                  ({{ watchProviders.length }})
                </div>
              </div>
              <div class="px-3">
                <blockquote>
                  <i>
                    Seuls les contenus des services de streaming selectionnés
                    aparaitrons
                  </i>
                </blockquote>
                <app-watch-providers
                  [userWatchProviders]="
                    userPreferences.with_watch_providers
                      ? userPreferences.with_watch_providers
                      : ''
                  "
                  (watchProvidersChange)="setWatchProviders($event)"
                ></app-watch-providers>
              </div>
            </div> -->
            <!-- <div class="category">
              <div class="d-flex gap-1 align-items-center">
                <h3 class="mb-2">Limite d'age</h3>
              </div>
              <div class="px-3">
                <div>
                  <blockquote>
                    <i>
                      Veuillez noter que selon certains services de streaming,
                      les classifications par âge des contenus peuvent varier.
                    </i>
                  </blockquote>
                  <app-certification
                    [userCertificationLte]="
                      userPreferences.certification_lte
                        ? userPreferences.certification_lte
                        : 'null'
                    "
                    (certificationChange)="setCertificationLte($event)"
                  ></app-certification>
                </div>
              </div>
            </div> -->
            <!-- <div class="category">
              <div class="d-flex gap-1 align-items-center">
                <div>
                  <h3>Afficher les contenus</h3>
                  <div class="ms-3">
                    <mat-checkbox
                      *ngFor="let content of displayContent"
                      [checked]="
                        watchMonetizationTypes?.includes(content.value)
                      "
                      (change)="setWatchMonetizationTypes($event)"
                      [disabled]="
                        shouldDisableLastCheckbox() &&
                        watchMonetizationTypes?.includes(content.value)
                      "
                      color="primary"
                      [value]="content.value"
                      >{{ content.label }}</mat-checkbox
                    >
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="category">
              <div class="d-flex gap-1 align-items-center">
                <h3 class="mb-2">Genres</h3>
              </div>
              <div class="px-3">
                <h4>Films</h4>
                <app-genres
                  [genres_]="movieGenres"
                  [userWithoutGenres_]="
                    userPreferences.without_genres
                      ? userPreferences.without_genres
                      : ''
                  "
                  (withoutGenresEmitter)="setWithoutGenres($event)"
                ></app-genres>
                <hr />
                <h4>Séries</h4>
              </div>
            </div> -->

            <!-- <div class="category">
              <div class="d-flex gap-1 align-items-center">
                <h3 class="mb-2">Pays de production</h3>
                <div *ngIf="!!countries.length">({{ countries.length }})</div>
              </div>
              <div class="px-3">
                <blockquote>
                  <i> Limiter les resultats aux pays suivants </i>
                </blockquote>
                <app-production-countries
                  [userSelectedCountries_]="
                    userPreferences.with_origin_country
                      ? userPreferences.with_origin_country
                      : ''
                  "
                  (userSelectedCountriesEmitter)="setProductionCountry($event)"
                ></app-production-countries>
              </div>
            </div> -->

            <!-- Pensez a prendre en compte cetet valeur si > 0 lors de la validation
            <div class="category">
              <div class="d-flex gap-1 align-items-center">
                <h3 class="mb-2">N'afficher que les contenus ayant</h3>
              </div>
              <div class="px-3">
                <blockquote>
                  <i> Seuls les contenus ayant au moins </i>
                </blockquote>
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Nombre de vote minimum</mat-label>

                  <input
                    matInput
                    type="number"
                    formControlName="voteCountGte"
                    [(ngModel)]="vote"
                    [value]="vote"
                  />
                </mat-form-field>
              </div>
            </div> -->
            <app-release-dates></app-release-dates>
            <!--  <div class="category">
              <div class="d-flex gap-1 align-items-center">
                <h3 class="mb-2">Années de sortie</h3>
                <div>
                  entre {{ formGroup.value.releaseDates?.start }} et
                  {{ formGroup.value.releaseDates?.end }}
                </div>
              </div>
              <div class="px-3">
                <div>
                  <mat-slider
                    formGroupName="releaseDates"
                    min="1895"
                    [max]="maxYear"
                    class="w-100"
                    [discrete]="true"
                    [disableRipple]="true"
                  >
mControlName="start"
                      (valueChange)="handleReleaseDatesChanges()"
                    />
                    <input
                      matSliderEndThumb
                      formControlName="end"
                      (valueChange)="handleReleaseDatesChanges()"
                    />
                  </mat-slider>
                </div>
              </div>
            </div>
            <div>
              <div class="category">
                <div class="d-flex gap-1 align-items-center">
                  <h3 class="mb-2">Durée</h3>
                  <div>entre {{ runtimeLabel() }}</div>
                </div>
                <div class="px-3">
                  <div>
                    <mat-slider
                      formGroupName="runtime"
                      min="0"
                      max="300"
                      class="w-100"
                    >
                      <input
                        matSliderStartThumb
                        formControlName="start"
                        (change)="handleRuntimeChanges()"
                      />
                      <input
                        matSliderEndThumb
                        formControlName="end"
                        (change)="handleRuntimeChanges()"
                      />
                    </mat-slider>
                  </div>
                </div>
              </div>
            </div> -->
          </article>
        </div>
        <div class="d-flex justify-content-end gap-3">
          <button mat-raised-button>Annuler</button>
          <button mat-raised-button color="primary">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
