<app-header
  [background]="{
    'background-image': 'url(\'/assets/img/settings.jpeg\')'
  }"
></app-header>

<div class="px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <h2 class="mb-3">Filtres</h2>
    <form [formGroup]="formGroup">
      <div>
        <article class="mb-4">
          <div class="category">
            <div class="d-flex gap-1 align-items-center">
              <h3 class="mb-2">Services de streaming</h3>
              <div *ngIf="!!watchProviders.length">
                ({{ watchProviders.length }})
              </div>
            </div>
            <div class="px-3">
              <blockquote>
                <i>
                  Seuls les contenus des services de streaming selectionnés
                  aparaitrons
                </i>
              </blockquote>
              <app-watch-providers
                (watchProviders)="setWatchProviders($event)"
              ></app-watch-providers>
            </div>
          </div>

          <div class="category">
            <div class="d-flex gap-1 align-items-center">
              <h3 class="mb-2">Genres</h3>
            </div>
            <div class="px-3">
              <app-genres
                (withoutGenres)="setWithoutGenres($event)"
              ></app-genres>
            </div>
          </div>

          <div class="category">
            <div class="d-flex gap-1 align-items-center">
              <h3 class="mb-2">Pays</h3>
              <div *ngIf="!!countries.length">({{ countries.length }})</div>
            </div>
            <div class="px-3"></div>
            <blockquote>
              <i> Seuls les contenus des pays selectionnés aparaitrons </i>
            </blockquote>
            <app-production-countries
              (userCountries)="setCountries($event)"
            ></app-production-countries>
          </div>
        </article>
      </div>
    </form>
  </div>
</div>
