@import "../app.component.css";

::ng-deep .mat-grid-tile-content {
  justify-content: flex-start !important;
}

mat-slider {
  width: 100%;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
