<div class="dialog">
  <h2 mat-dialog-title>Filtres</h2>
  <mat-dialog-content class="mat-typography">
    <div class="p-2">
      <h3>Genres</h3>
      <app-genres [genres]="data"></app-genres>
      <hr />
      <h3>Tri</h3>
      <app-sort ></app-sort>
      <hr />
      <app-certification [disclaimer]="false"></app-certification>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Valider
    </button>
  </mat-dialog-actions>
</div>
