<h2 class="text-center m-5">
  S'enregistrer / Se connecter
</h2>

<div
  class="d-flex justify-content-center flex-column align-items-center  justify-content-center w-auto"
>
  <div class="login">
    <asl-google-signin-button
      type="standard"
      size="medium"
    ></asl-google-signin-button>
    <hr />
    <form [formGroup]="formGroup" (submit)="login()">
      <div >
        <mat-form-field appearance="outline" >
          <mat-label>Adresse email</mat-label>
          <input type="email" formControlName="username" matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input type="password" formControlName="password" matInput />
        </mat-form-field>
      </div>
      <div class="text-end">
        <button mat-raised-button  color="primary" >Valider</button>
      </div>
    </form>
  </div>
</div>
