<h2 class="position-relative text-center top-50">
  S'enregistrer / Se connecter
</h2>

<div
  class="d-flex justify-content-center flex-column align-items-center justify-content-center position-relative top-50 w-auto"
>
  <div class="login">
    <asl-google-signin-button
      type="standard"
      size="medium"
    ></asl-google-signin-button>
    <hr />
    <div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Adresse email</mat-label>
          <input type="email" matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input type="password" matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
