img {
  height: 100px;
  object-fit: contain;
}

.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

p {
  margin: 0;
  padding: 0;
}
