.cast {
  width: 100% !important;
  display: flex;
  overflow-x: auto;
  gap: 8px;
  .card {
    min-width: 300px;
    a {
      text-decoration: none;
      color: inherit;
      text-align: center;
    }
    img {
      margin: 8px;
      width: 280px;
      object-fit: cover;
      border-radius: 16px !important    ;
    }
  }
}
