<div class="recommendations">
  <h2 class="section-heading">Similaire à</h2>
  <div class="cast">
    <div class="card" *ngFor="let recommendation of recommendations">
      <a [routerLink]="['/movie', recommendation.id]">
        <img
          class="card-img-top"
          [src]="environment.apiPosterPath + recommendation.poster_path"
          [alt]="recommendation.title"
          (error)="recommendation.error = true"
          onerror="this.style.display='none'"
        />
        <div class="card-body">
          <ng-container *ngIf="recommendation.error">
            <p class="card-text">{{ recommendation.title.name }}</p>
          </ng-container>
        </div>
      </a>
    </div>
  </div>
</div>
