<div *ngIf="watchProvidersFormGroup" [formGroup]="watchProvidersFormGroup">
  <div class="row" formArrayName="watchProviders">
    <div
      *ngFor="
        let provider of watchProvidersFormArray.value;
        let watchProvidersFormArrayIndex = index
      "
      class="col-lg-3 col-xl-2 col-sm-6 col-md-4"
    >
      <div [formGroupName]="watchProvidersFormArrayIndex">
        <mat-checkbox
          [id]="'provider_' + provider.provider_id"
          formControlName="checked"
          [checked]="provider.checked"
          (change)="setWatchProviders()"
        >
          <img [src]="apiPosterPath + provider.logo_path" alt="" />
        </mat-checkbox>
        <p class="mt-1">
          {{ provider.provider_name }}
        </p>
      </div>
    </div>
  </div>
</div>
