<div *ngIf="!!availableProviders.length">

<mat-form-field class="w-100">
  <input
    type="text"
    placeholder="Ajouter un fournisseur"
    matInput
    [formControl]="providerCtrl"
    [matAutocomplete]="auto"
  />
  <mat-icon matSuffix>add</mat-icon>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="addProvider($event.option.value)"
  >

  @for (option of filteredOptions | async; track option) {
    <mat-option [value]="option">{{option.provider_name}}</mat-option>
  }
  </mat-autocomplete>
</mat-form-field>
<div class="d-flex gap-5 flex-wrap">
  <div
    *ngFor="let selectedProvider of selectedProviders"
    class="my-1 w-auto"
    (click)="removeSelectedProvider(selectedProvider)"
  > 
    <img [src]="apiPosterPath + selectedProvider.logo_path" alt="" /> 
     {{ selectedProvider.provider_name }}
  </div>
</div>
</div>