<form [formGroup]="countryForm">
  <mat-form-field class="w-100">
    <mat-label>Pays d'origine </mat-label>
    <input
      type="text"
      matInput
      formControlName="countryGroup"
      required
      [matAutocomplete]="autoGroup"
    />
    <mat-icon matSuffix>add</mat-icon>
    <mat-autocomplete
      #autoGroup="matAutocomplete"
      (optionSelected)="addCountry($event.option.value)"
    >
      @for (group of countryGroupOptions | async; track group) {
      <mat-optgroup [label]="group.letter">
        @for (name of group.countries; track name) {
        <mat-option [value]="name">{{ name }}</mat-option>
        }
      </mat-optgroup>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
<!-- <input
    type="text"
    placeholder="Ajouter un Pays"
    matInput
    [formControl]="countryCtrl"
    [matAutocomplete]="auto"
  />
  <mat-icon matSuffix>add</mat-icon>
  <mat-autocomplete
    #auto="matAutocomplete"

  >
    <ng-container *ngFor="let group of filteredCountries | async">
      <mat-optgroup
        *ngIf="group.countries.length > 0"
        [label]="group.firstLetter"
      >
        <mat-option *ngFor="let country of group.countries" [value]="country">
          {{ country }}
        </mat-option>
      </mat-optgroup>
    </ng-container>
  </mat-autocomplete> -->
<!-- </mat-form-field> -->
<div class="d-flex gap-3 flex-wrap">
  <div *ngFor="let selectedCountry of selectedCountries" class="my-1 w-auto">
    <div
      *ngIf="selectedCountry"
      class="d-flex flex-column align-items-center"
      (click)="removeCountry(selectedCountry)"
    >
      <img [src]="'/assets/img/flags/' + selectedCountry + '.svg'" />
      <p>{{ getCountryName(selectedCountry) }}</p>
    </div>
  </div>
  <!-- </div> -->
</div>
