p {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
  width: 100%;
}

img,
svg {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border: 1px solid black;
  /* box-shadow: 0 0 10px black; */
}
