<mat-form-field class="w-100">
  <input
    type="text"
    placeholder="Choisir un Pays"
    matInput
    [formControl]="countryCtrl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="addCountry($event.option.value)"
  >
    <mat-option
      *ngFor="let country of filteredCountries | async"
      [value]="country"
    >
      {{ country.value }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<div class="d-flex gap-5 flex-wrap">
  <div
    *ngFor="let selectedCountry of selectedCountries"
    class="my-1 w-auto"
    (click)="removeSelectedCountry(selectedCountry)"
  >
    <div *ngIf="selectedCountry?.key">
      <img
        [src]="'/assets/img/flags/' + selectedCountry.key + '.svg'"
        [matTooltip]="selectedCountry.value"
      />
    </div>
  </div>
</div>
