<mat-form-field class="w-100">
  <input
    type="text"
    placeholder="Ajouter un Pays"
    matInput
    [formControl]="countryCtrl"
    [matAutocomplete]="auto"
  />
  <mat-icon matSuffix>add</mat-icon>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="addCountry($event.option.value)"
  >
    <ng-container *ngFor="let group of filteredCountries | async">
      <mat-optgroup
        *ngIf="group.countries.length > 0"
        [label]="group.firstLetter"
      >
        <mat-option *ngFor="let country of group.countries" [value]="country">
          {{ country.value }}
        </mat-option>
      </mat-optgroup>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
<div class="d-flex gap-5 flex-wrap">
  <div
    *ngFor="let selectedCountry of selectedCountries"
    class="my-1 w-auto"
    (click)="removeSelectedCountry(selectedCountry)"
  >
    <div *ngIf="selectedCountry?.key">
      <img
        [src]="'/assets/img/flags/' + selectedCountry.key + '.svg'"
        [matTooltip]="selectedCountry.value"
      />
    </div>
  </div>
</div>
