<body
  *ngIf="tvShow"
  [ngStyle]="{
    'background-image':
      'url(' + background + ')'
      
  }"
  class="body"
>
  <header class="masthead" *ngIf="tvShow">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-heading">
            <h1 class="d-flex align-items-center justify-content-center">
              {{ tvShow.name }}
            </h1>
            <div class="meta">
              {{ tvShow.first_air_date | date : "YYYY" }}
            </div>
            <h2 class="meta">{{ tvShow.number_of_seasons }} Saisons</h2>
            <div class="meta">
              {{ tvShow.genres | map : "name" }}
            </div>

            <div class="meta">
              {{ tvShow.runtime }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <article class="mb-4">
    <div class="container-fluid px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div>
          <app-note [media]="tvShow"></app-note>
          <app-overview [overview]="tvShow.overview"></app-overview>
          <app-movie-watch-providers
            [watchProviders]="watchProviders"
          ></app-movie-watch-providers>
          <app-cast [cast]="cast"></app-cast>
          <app-card title="Crée par" [media]="producer"></app-card>
        </div>
      </div>
    </div>
    <!-- <div>
      <app-card [media]="seasons" path="" title="Saisons" class="flex-wrap"></app-card>
    </div> -->
  </article>
</body>
