img {
    height: 100%;
    display: block;
    object-fit: contain;
    filter: blur(0);
    width: auto;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
    padding: 0 !important;
    z-index: 1;
    height: 100%;
    overflow: hidden;


}


.dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px);
    z-index: 1;
}

h2{
    text-shadow: 0 0 10px black;
}

::ng-deep .mat-mdc-dialog-surface{
    justify-content: center;
}