* {
  transition: all ease 0.5s;
}
p {
  margin: 0;
}
.item {
  height: 200px;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  position: relative;
  margin-bottom: 10px;

  .text {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur grise avec opacité */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 10px;
  .text {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      color: white; /* Couleur du texte */
      font-size: 40px; /* Taille de la police */
      text-shadow: 0 0 5px black;
      text-align: center;
    }

    .genres {
      opacity: 0;
    }
  }
}

/* Effet au passage de la souris */
.item:hover .overlay {
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Rend l'overlay transparent au passage de la souris */

  .text {
    transform: translateY(60px);
    .title {
      font-size: 1rem; /* Taille de la police */
    }
    .genres {
      opacity: 1;
    }
  }
}
