<app-loading *ngIf="isLoading; else container"></app-loading>
<ng-template #container>
  <div class="container">
    <div *ngFor="let item of items?.results">
      <div
        class="item"
        [ngStyle]="{
          backgroundImage:
            'url(' +
            (!!item.backdrop_path
              ? environment.apiPosterPath + item.backdrop_path
              : '../../../assets/img/no_image.png') +
            ')'
        }"
        (click)="getItem(item.id)"
      >
        <div class="overlay">
          <div class="text">
            <p class="title">
              {{ item.title }}
            </p>

            <mat-chip-set aria-label="Genres" class="genres">
              <mat-chip *ngFor="let genreID of item.genre_ids">{{
                genreID | genre
              }}</mat-chip>
            </mat-chip-set>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator
      itemsPerPageLabel="toto"
      hidePageSize="true"
      [length]="items?.total_results"
      [pageSize]="items?.total_results > 20 ? 20 : items?.total_results"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</ng-template>
