img {
  height: 100%;
  width: 200px;
  object-fit: contain;
}

.d-flex {
  gap: 10px;
  align-items: center;
}

.progress-container {
  position: relative;
  display: inline-block;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}

.backdrop_img {
  position: relative;
  img {
    width: 100%;
    height: 30vh;
    object-fit: contain;
  }
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 0 10px black;
}

.example-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100vh;
}

.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-width: 10vw;
}

.discover {
  margin-left: 10vw;
}
:host {
  .cdk-overlay-pane {
    padding: 10px;
    background-color: red;
  }
}

.backdrop_path {
  height: 100% !important;
}

.item {
  height: 350px;
  padding: 10px;
}
::ng-deep .movie .mat-progress-spinner,
.movie .mat-mdc-progress-spinner {
  width: 1rem !important;
  height: 1rem !important;
}

.spin-green {
  ::ng-deep
    .mat-mdc-progress-spinner
    .mdc-circular-progress__determinate-circle {
    stroke: #3fb53f !important;
  }
}

.spin-red {
  ::ng-deep
    .mat-mdc-progress-spinner
    .mdc-circular-progress__determinate-circle {
    stroke: red !important;
  }
}
