<app-header
  [displaySearch]="true"
  [background]="{ 'background-color': 'gray' }"
></app-header>
<body>
  <div class="container px-4 px-lg-5">
    <div class="justify-content-center">
      <div class="results" *ngIf="userWatchProviders; else goPref">
        <div
          infinite-scroll
          [infiniteScrollDistance]="scrollDistance"
          [infiniteScrollUpDistance]="scrollUpDistance"
          [infiniteScrollThrottle]="throttle"
          (scrolled)="onScrollDown()"
          (scrolledUp)="onScrollUp()"
        >
          <!-- Post preview-->
          <div *ngFor="let item of items">
            <a [routerLink]="[route, item.id]">
              <div class="d-flex movie justify-content-center">
                <div>
                  <img
                    [src]="environment.apiPosterPath + item.poster_path"
                    [alt]="item.title"
                    onerror="this.style.display='none'"
                  />
                </div>
                <div class="post-preview d-md-block d-none">
                  <h2 class="post-title">
                    {{ item.title ?? item.name }}
                  </h2>
                  <p class="post-subtitle">
                    {{ item.overview | truncate : 50 }}
                  </p>
                  <p class="post-meta">
                    Année de sortie
                    {{
                      item.release_date ?? item.first_air_date | date : "YYYY"
                    }}
                  </p>
                </div>
              </div>
            </a>
            <!-- Divider-->
            <hr class="my-4" />
          </div>
        </div>
      </div>
      <ng-template #goPref class="text-center"
        >Aucun service de streaming choisit. Veuillez suivre ce
        <a routerLink="/preferences">lien</a> pour en selectionner</ng-template
      >
    </div>
  </div>
</body>
