@import "../app.component.css";
:host {
  .bi {
    font-size: 2rem;
    color: orange;
  }
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  iframe {
    margin: 8px;
  }
}

a {
  color: black;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #ffffff55; /* Couleur de fond du cercle */
  border-radius: 50%; /* Pour créer un cercle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.age {
  color: white; /* Couleur du texte */
  font-size: 24px;
  font-weight: bold;
}

.progress-container {
  position: relative;
  display: inline-block; /* Pour que le conteneur s'adapte à la taille du spinner */
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}
