<div *ngIf="movie">
  <header
    class="masthead"
    [ngStyle]="{
      'background-image':
        'url(' + environment.apiPosterPath + movie.backdrop_path + ')'
    }"
    *ngIf="movie"
  >
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-heading">
            <h1 class="d-flex align-items-center">
              {{ movie.title }}
              <div class="circle" *ngIf="age">
                <span class="age">{{ age }}</span>
              </div>
            </h1>
            <div class="meta">
              {{ movie.release_date | date : "YYYY" }}
            </div>
            <h2 class="subheading">
              {{ movie.tagline }}
            </h2>
            <div class="meta">
              {{ movie.genres | map : "name" }}
            </div>

            <div class="meta">
              {{ movie.runtime | minutesToHours }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <article class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <app-note [media]="movie"></app-note>
        <app-crew [crew]="directors" title="De"></app-crew>
        <app-overview
          [overview]="movie.overview"
          *ngIf="!!movie.overview"
        ></app-overview>
        <app-movie-watch-providers
          [watchProviders]="watchProviders"
        ></app-movie-watch-providers>
        <app-cast [cast]="cast" *ngIf="!!cast.length"></app-cast>

        <app-movie-videos
          [videos]="videos"
          *ngIf="!!videos.length"
        ></app-movie-videos>
        <app-movie-production-companies
          *ngIf="!!movie.production_companies.length"
          [production_companies]="movie.production_companies"
        ></app-movie-production-companies>
        <app-recommandations
          *ngIf="!!recommendations.length"
          [recommendations]="recommendations"
        ></app-recommandations>
      </div>
    </div>
  </article>
</div>
