@import "../app.component.css";
:host {
  .bi {
    font-size: 2rem;
    color: orange;
  }
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  iframe {
    margin: 8px;
  }
}

a {
  color: black;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #ffffff55; /* Couleur de fond du cercle */
  border-radius: 50%; /* Pour créer un cercle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.age {
  color: white; /* Couleur du texte */
  font-size: 24px;
  font-weight: bold;
}
