@import "../app.component.css";
.card {
  width: 300px;
  border: 0;
  img {
    height: 200px;
    width: 100%;
    margin: 8px;
    object-fit: contain;
    border-radius: 16px !important    ;
  }
}
a {
  color: black;
}

.body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}